@page "/authors"
@inject IAuthorService authorService;
@using BlazorAppLearning.Data;

<h3>Authors</h3>
<hr />

@foreach (var author in @authors)
{
    <div class="col-12 row">
        <div class=" col-2">
            <NavLink style="text-decoration:none" href="@string.Format("/authors/authorDetails/{0}",author.Id)">
                @author.Id
            </NavLink>
        </div>
        <div class="col-2">@author.FullName</div>
    </div>
}

<hr />
<div class="col-12 row">Generation date: @authorService.GetCreateDate()</div>
<div class="col-12 row">Version: @authorService.GetVersion()</div>

@code {
    public List<Author> authors = new();
    //public AuthorService authorService = new();

    protected override void OnInitialized()
    {
        authors = authorService.GetAuthors();
    }
}
